extends layout

block content
    h1= title
    p= texte
    form(method='post', enctype='multipart/form-data')
        input(type='file', name='imageupload', multiple, required)
        input(type='submit', name='uploadimage', value='Envoyer chez Mél, Flo & Julia')
    p(style={color: 'green'})= successMsg